<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Demo">
    <test name="Regression">
         <classes>
             <class name="TestSuite.TestSuite_005_HandlingAlerts"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->